<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
     http://www.springframework.org/schema/rabbit
     http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">
    <!--1.配置connection-factory，指定连接rabbit server参数username="guest" password="guest"  port="5672"-->
    <rabbit:connection-factory id="connectionFactory" virtual-host="/" host="127.0.0.1"/>

    <!--2.通过指定下面的admin信息，当前producer中的exchange和queue会在rabbitmq服务器上自动生成 -->
    <rabbit:admin id="connection" connection-factory="connectionFactory" />

    <!-- 3.消息对象json转换类 -->
    <bean id="jsonMessageConverter" class="org.springframework.amqp.support.converter.Jackson2JsonMessageConverter" />

    <!-- 4.begin读取信息 -->
    <!--定义receiveQueue -->
    <rabbit:queue name="receiveQueue" durable="true" auto-delete="false"
                  exclusive="false" declared-by="connection" />

    <!-- 5.消息接收者 -->
    <bean id="messageReceiver" class="com.test.rabbit.MessageConsumer"></bean>

    <!-- 6.queue litener 观察 监听模式 当有消息到达时会通知监听在对应的队列上的监听对象 -->
    <rabbit:listener-container
            connection-factory="connectionFactory">
        <rabbit:listener queues="receiveQueue" ref="messageReceiver" />
    </rabbit:listener-container>
    <!-- end读取信息 -->

    <!-- 7.begin发送结果 -->
    <!--定义sendQueue -->
    <rabbit:queue name="sendQueue" durable="true" auto-delete="false"
                  exclusive="false" declared-by="connection" />

    <!-- 8.定义direct exchange，绑定recvqueue -->
    <rabbit:direct-exchange name="exchangeTest"
                            durable="true" auto-delete="false" declared-by="connection">
        <rabbit:bindings>
            <rabbit:binding queue="sendQueue" key="sendqueueKey"></rabbit:binding>
        </rabbit:bindings>
    </rabbit:direct-exchange>

    <!--9.定义rabbit template用于数据的接收和发送 -->
    <rabbit:template id="amqpTemplate" connection-factory="connectionFactory"
                     exchange="exchangeTest" message-converter="jsonMessageConverter" />

    <!-- end发送结果 -->
</beans>